@import "../../styles/variables.scss";
.course {
    padding-bottom: 7.7777rem;
    .courseTitle {
        padding: 4.4444rem 0 2.8888rem;
        font-size: 2.1111rem;
    }
    .courseList {
        .courseExpandBlock {
            margin-top: -5px;
            margin-bottom: -5px;
            position: relative;
            z-index: 5;
        }
        .courseItem {
            position: relative;
            width: calc(100% - 3.4444rem);
            align-self: flex-end;
            &:not(:last-of-type) {
                margin-bottom: 1px;
            }
            .courseItemImgBlock {
                position: absolute;
                width: 6.8888rem;
                height: 6.8888rem;
                border: 0.8rem solid $light-grey;
                background-color: $purple;
                left: -3.4444rem;
                top: calc(50% - 3.4444rem);
            }
            .courseItemContent {
                padding: 1.5rem 5.27777rem;
            }
        }
    }
}