@import "../../styles/variables.scss";
.banner {
    position: relative; 
    height: 35rem; 
    width: 100%; 
    background-repeat: no-repeat; 
    background-size: cover;
    @media(max-width: 680px) {
        height: 25rem; 
    }
    .bannerContainer {
        position: relative;
        height: 100%;
    }
    .bannerContent {
        position: absolute;
        width: 100%;
        bottom: 10.8888rem;
        @media(max-width: 680px) {
            bottom: 5.4444rem;
        }
        .bannerTopContent {
            border-bottom: 1px solid rgba(245, 245, 245, 0.5);
            padding-bottom: 1rem;
            .bannerTopTitle {
                @media(max-width: 680px) {
                    font-size: 1.33333rem;
                }
            }
            .bannerTopText {
                &:first-child {
                    margin-bottom: 0.166666rem;
                }
            }
        }
        .bannerBottomContent {
            display: flex;
            padding-top: 1.111111rem;
            @media(max-width: 680px) {
                flex-direction: column;
            }
            .bannerBtn {
                @media(max-width: 680px) {
                    max-width: 60%;
                    font-size: 0.7rem;
                    margin-bottom: 1rem;
                }
            }
            .bottomLevel {
                display: flex;
                align-items: center;
                margin-left: 1.88888rem;
                @media(max-width: 680px) {
                    margin-left: 0;
                }
                .levelBadge {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2.333333rem;
                    height: 2.333333rem;
                    border: 2px solid $light-grey;
                    border-radius: 50%;
                    margin-right: 0.833333rem;
                    .badgeText {
                        font-size: 0.7rem;
                        color: $light-grey;
                    }
                }
                .bottomLevelInfoBlock {
                    .infoText {
                        font-size: 0.72222rem;
                    }
                }
            }
        }
    }
}