@import "../../styles/variables.scss";
.commonQuestionsBlock {
    .commonQuestionsTitle {
        font-size: 2.1111rem;
        // padding: 4.05555rem 0 2.5rem;
        padding: 0rem 0 2.5rem;
    }
}
.listBlock {
    padding: 2.222rem 2.5555rem;
    .listBlockItem {
        border-bottom: 1px solid $dark-grey;
        &:not(:last-of-type) {
            margin-bottom: 1.1111rem;
        }
        &.listItemInactive {
            .listBlockItemTitle {
                font-size: 2.1111rem;
                @media(max-width: 500px) {
                    display: flex;
                    flex-direction: column-reverse;
                }
                &:before {
                    content: '7';
                    font-family: 'yem-icons';
                }
            }
            .itemTextBlock {
                display: none;
            }
        }
        .listBlockItemTitle {
            font-size: 2.1111rem;
            padding-bottom: 1.111rem;
            &:hover {
                cursor: pointer;
            }
            &:before {
                content: '6';
                font-family: 'yem-icons';
                font-weight: normal;
                font-style: normal;
                margin-right: 0.8888rem;
            }
        }
        .itemTextBlock {
            padding-bottom: 2.38888rem;
        }
    }
}