@import "../../styles/variables.scss";
.inboxContent {
    margin-right: calc(1.33333rem - 0.444rem);
    .inboxBlock {
        position: relative;
        .iconYem {
            font-size: 1.222222rem;
        }
        .inboxCount {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.055555rem;
            height: 1.055555rem;
            border-radius: 50%;
            font-size: 0.611111rem;
            background-color: $purple;
            bottom: -0.3rem;
            left: -0.5rem;
            &.inboxCountHidden {
                display: none;
            }
        }
    }
}