@import "../../styles/variables.scss";
.filter {
    // padding-top: 3.33333rem;
    @media(max-width: 800px) {
        padding-top: 1.15555rem;
    }
    .topText {
        font-size: 0.722222rem;
        line-height: 0.888888rem;
        font-weight: 300;
        color: $light-grey;
        @media(max-width: 800px) {
            display: none;
        }
    }
    .filterBlock {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0.611111rem 0;
        @media(max-width: 800px) {
            flex-direction: column;
            align-items: flex-start;
        }
        .filterIcon {
            width: 1.22222rem;
            height: 1.22222rem;
            @media(max-width: 800px) {
                display: flex;
                align-items: center;
                width: 100%;
                margin: 0 0 1rem;
            }
            .icon {
                @media(max-width: 800px) {
                    font-size: 1.2222rem;
                }
            }
            .filterIconText {
                margin-left: 1.1666rem;
                font-size: 0.777777rem;
                line-height: 1rem;
                @media(min-width: 801px) {
                    display: none;
                }
            }
        }
        .filterContent {
            display: flex;
            align-items: center;
            width: calc(100% - 1.22222rem);
            padding: 0 1rem;
            @media(max-width: 800px) {
                flex-direction: column;
                align-items: baseline;
                width: 100%;
                // padding: 1rem 0;
                overflow: hidden;
                transition: all .5s ease-in-out;
                height: 0;
                opacity: 0;
            }
            &.filterContentActive {
                overflow: visible;
                height: 16.66666rem;
                opacity: 1;
            }
            .filterButton {
                padding: 0.5rem 0.55555rem;
                text-decoration: none;
                color: $light-grey;
                font-size: 0.888888rem;
                text-transform: uppercase;
                letter-spacing: 0.13em;
                &:hover {
                    color: $purple;
                    transition: all 0.3s;
                }
                &:not(:last-of-type) {
                    margin-right: 0.25rem;
                }
                &.active {
                    background-color: $purple;
                    padding: 0.5rem 1.3rem ;
                    border: 1px solid transparent;
                    @media(max-width: 800px) {
                        margin-left: 0.55555rem;
                    }
                    &:hover {
                        background-color: #fff;
                        transition: all 0.3s;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}