@import "../../../styles/variables.scss";
.carouselCourse {
    position: relative;
    padding: 0; 
    .courseItem {
        height: 50.875rem;
        @media(max-width: 680px) {
            height: inherit;
        }
        .courseItemContent {
            position: relative;
            height: 100%;
            background-size: cover;
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url(../../../images/bg-course.png);
                background-size: cover;
                background-position: center;
            }
            .courseItemContainer {
                padding-top: 12.75rem;
                @media(max-width: 680px) {
                    padding-bottom: 2rem;
                }
                .courseItemTitle {
                    font-size: 3.125rem;
                    margin-bottom: 2.0625rem
                }
                .courseItemText {
                    max-width: 52ch;
                }
                .discountItemBlock {
                    margin-top: 1.25rem;
                    font-size: 0.875rem;
                    .oldPriceBlock {
                        display: flex;
                        align-items: flex-end;
                        // margin-bottom: 0.5rem;
                        .oldPriceText {
                            position: relative;
                            display: inline-block;
                            font-size: 0.7777rem;
                            &::before {
                                content: '';
                                position: absolute;
                                top: calc(50% - 1px);
                                display: block;
                                width: 100%;
                                height: 3px;
                                background-color: $purple;
                            }
                        }
                        .discountPercentBlock {
                            display: inline-block;
                            background-color: $purple;
                            padding: 0.133333rem 0.4000rem;
                            margin-left: 0.5rem;
                            font-size: 0.7777rem;
                        }
                    }
                }
                .registrationBlock {
                    font-size: 0.875rem;
                    margin-top: 0.6875rem;
                    width: 11rem;
                    .registrationButton {
                        width: 100%;
                    }
                    .registrationText {
                        text-align: center;
                        margin-top: 0.875rem;
                    }
                }
            }
        }
    }
}
.arrowBlock{
    position: absolute;
    display: flex;
    align-items: center;
    right: 7.8333rem;
    height: 2.3333rem;
    top: calc(50% - 1.15555rem);
    color: $light-grey;
    @media(max-width: 680px) {
        display: none;
    }
    .arrowBlockText {
        margin-right: 1rem;
        transition: all 0.3s;
        &:hover {
            transition: all 0.3s;
            cursor: pointer;
            color: $purple;
        }
    }
    .arrowItem {
        color: $light-grey;
    }
}
.dotsBlock {
    display: flex;
    list-style: none;
    li {
        position: relative;
        width: 1.1111rem;
        height: 1.1111rem;
        &:focus {
            outline: none;
        }
        button {
            font-size: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 100%;
            border: none;
            color: $light-grey;
            &:focus {
                outline: none;
            }
        }
        &.slickDotActive {
            button {
                background-color: $medium-grey;
            }
        }
    }
}
