@import "../../../styles/variables.scss";
.dotsBlock {
    display: flex;
    justify-content: center;
    list-style: none;
    position: absolute;
    bottom: 2.2222rem;
    left: 25%;
    margin-left: 0;
    width: 50%;
    li {
        &:not(:last-of-type) {
            margin-right: 1.38888rem;
        }
        button {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .slick-active {
        button {
            background-color: $medium-grey;
        }
    }
}