@import "../../styles/variables.scss";
.switchContainer {

}
.textContainer {
    margin-right: 0.555555rem;
    max-width: 12ch;
    .text {
        font-size: 0.77777rem;
        line-height: 1rem;
        font-weight: 300;
        color: #000;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  
    .input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  
  /* Hide default HTML checkbox */
  
  /* The slider */
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  
    &:before {
      position: absolute;
      font-family: "yem-icons";
      content: "3";
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: #000;
      color: #fff;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
  
  .input {
    &:checked + .slider {
      background-color: $light-grey2;
    }
  
    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
  
    &:checked + .slider:before {
      content: "2";
      background-color: $purple;
      color: $white;

      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
  
  /* Rounded sliders */
  
  .slider.round {
    border-radius: 34px;
  
    &:before {
      border-radius: 50%;
    }
  }