@import "../../styles/variables.scss";
.carouselBlock {
    position: relative;
    padding: 2.777rem 0;
    .slick-arrow {
        top: calc(50% - 15px);
        position: absolute;
        display: flex !important;
        align-items: center;
        justify-content: center;
        color: $dark-grey;
        width: 30px;
        height: 30px;
        @media(max-width: 680px) {
            font-size: 200%;
        }
        &:hover {
            cursor: pointer;
            color: $purple;
            text-decoration: none;
        }
        &.slick-prev {
            left: -1.5rem;
            @media(max-width: 500px) {
                left: 0;
            }
        }
        &.slick-next {
            right: -1.5rem;
            @media(max-width: 500px) {
                right: 0;
            }
        }
    }
    .slick-list {
        overflow: hidden;
        .slick-track {
            display: flex !important;
        }
    }
}