.sliderTopContainer {
    // padding-top: 3.888rem;
}
.carouselInstructorItem {
    display: flex !important;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    .instructorItemName {
        margin: 1.5555rem 0 1rem;
    }
    .instructorItemText {
        text-align: center;
    }
}
.sliderBottomContainer {
    padding-bottom: 3.888rem; 
    display: flex;
    flex-wrap: wrap;
    .mediumBlock {
        max-width: calc(50% - 0.666rem) !important;
        @media(max-width: 500px) {
            max-width: 100% !important;
            margin: auto !important;
        }
        p {
            @media(max-width: 500px) {
                text-align: center !important;
            }
        }
    }
    .sliderBottomBtn {
        margin: auto 0 auto 2rem;
        @media(max-width: 500px) {
            margin: 2rem auto 0;
        }
    }
}