.blocksContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: -3.3333rem;
    padding-bottom: 5.833rem;
    .blocksContainerItem {
        display: flex;
        align-items: center;
        padding: 2.2222rem;
        text-decoration: none;
        transition: all 0.3s;
        @media (min-width: 801px) {
            width: calc(50% - 0.333rem);
            &:not(:nth-child(2n)) {
                margin-right: 0.6666rem;
            }
        }
        &:hover {
            transform: translate(-2px, -2px);
            transition: all 0.3s;
            -webkit-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);
        }
        &:not(:nth-last-child(1)), &:not(:nth-last-child(2)) {
            margin-bottom: 0.6666rem;
        }
        &:before {
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url(../../images/modalities/dark-grey-bg.png);
            background-size: cover;
        }
        .blockItemContent {
            position: relative;
        }
    }
}