@import "./variables.scss";
body {
    @media(max-width: 500px) {
        font-size: 90%;
    }
}
.fontDarkGrey {
    color: $dark-grey;
}
.bgDarkGrey {
    background-color: $dark-grey;
}
.fontLightGrey {
    color: $light-grey;
}
.bgLightGrey {
    background-color: $light-grey;
}
.fontPurple {
    color: $purple;
}
.bgPurple {
    background-color: $purple;
}
.fontDarkPurple {
    color: $dark-purple;
}
.bgDarkPurple {
    background-color: $purple;
}
.fontWhite {
    color: $white;
}
.bgWhite {
    background-color: $white;
}
.lightGreyBg {
    background-color: $light-grey;
}
.greyGradientBg {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(100deg, rgba(0,0,0,1) 0%, rgba(27,27,27,1) 29%, rgba(35,35,35,1) 77%, rgba(44,44,44,1) 95%);
    background: -webkit-linear-gradient(100deg, rgba(0,0,0,1) 0%, rgba(27,27,27,1) 29%, rgba(35,35,35,1) 77%, rgba(44,44,44,1) 95%);
    background: linear-gradient(100deg, rgba(0,0,0,1) 0%, rgba(27,27,27,1) 29%, rgba(35,35,35,1) 77%, rgba(44,44,44,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#2c2c2c",GradientType=1);
}
.inputYem {
    background-color: $light-grey2;
    border: none;
    padding: 0.6666rem;
    text-align: center;
    color: $dark-grey;
    border: 1px solid transparent;
    transition: border 0.3s;
    &:not(:last-of-type) {
        margin-bottom: 1.222rem;
    }
    &.is-invalid {
        border-color: $red;
        margin-bottom: 0;
        & + .invalid-feedback {
            // display: block;
            transition: all 0.3s;
            height: unset;        
        }
    }
    @include placeholder {
        color: $dark-grey;        
        opacity: 1; /* Firefox */
        transition: font-size 0.3s;
    }
    &:focus {
        outline: none;
        border: 1px solid $purple;
        transition: all 0.3s;
        @include placeholder {
            font-size: 0.8rem;
            transition: font-size 0.3s;
        }
    }
    &.inputMd {
        width: 19.5rem;
    }
    & + .invalid-feedback {
        // display: none;
        transition: all 0.3s;
        height: 0;
        width: 19.5rem;
        font-size: 80%;
        color: $red;
    }
}
.inputYemBLock {
    margin-top: 1.222rem;    
}
div.tooltipYem {
    max-width: 30ch;
    text-align: center;
    background-color: $light-grey2 !important;
    color: $light-grey-opacity2 !important;
    font-size: 0.7777rem;
    &.place-right {
        margin-left: 30px;
        &:after {
            border-right-color: $light-grey2 !important;
        }
    }
}
.buttonMd {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: $purple;
    font-size: 16px;
    letter-spacing: 0.20em;
    line-height: normal;
    padding: 0 1.875em; 
    min-height: 34px;
    color: $white;
    transition: all 0.3s;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
        background-color: $white;
        border-color: $purple;
        color: $purple;
        transition: all 0.3s;
    }
}
.buttonDefaultPadding {
    padding: 0.3333rem 2.1111rem;
}
.defaultLink {
    text-decoration: none;
    color: $purple;
    transition: all 0.3s;
    &:hover {
        color: $light-grey;
        transition: all 0.3s;
    }
}
.xsBlock {
    max-width: 16.666%;
    width: 100%;
    &:not(:last-of-type) {
        padding-right: 0.666rem;
    }
}
.smBlock {
    position: relative;
    max-width: 33%;
    width: 100%;
    @media(min-width: 681px) {        
        &:not(:last-of-type) {
            padding-right: 0.666rem;
        }
    }
    @media(max-width: 680px) {
        max-width: 100%;
    }
}
.mdBlock {
    position: relative;
    max-width: calc(50% - 0.666rem);
    width: 100%;
    @media(min-width:551px) {
        &:not(:nth-child(even)) {
            padding-right: 0.666rem;
        }
    }
    @media(max-width:550px) {
        max-width: 100%;
        padding-right: unset;
    }
}
.lgBlock {
    position: relative;
    max-width: 66.66%;
    width: 100%;
    @media(min-width:681px) {
        &:not(:last-of-type) {
            padding-right: 0.666rem;
        }
    }
    @media(max-width: 680px) {
        max-width: 100%;
    }
}
.xlBlock {
    max-width: 83.33333%;
    width: 100%;
    &:not(:last-of-type) {
        padding-right: 0.666rem;
    }
}
.fullBlock {
    max-width: 100%;
    width: 100%;
}
.normalPaddingBlock {
    padding: 4.16666rem 0;
}
.normalPaddingTop {
    padding-top: 4.16666rem;
}
.normalPaddingBottom {
    padding-bottom: 4.16666rem;
}
@font-face {
    font-family: 'yem-icons';
    // src: url('../fonts/font-yem/yem-icons.eot');
    // src: url('../fonts/font-yem/yem-icons.eot#iefix') format('embedded-opentype'),
    //      url('../fonts/font-yem/yem-icons.woff') format('woff'),
    //      url('../fonts/font-yem/yem-icons.ttf') format('truetype'),
    //      url('../fonts/font-yem/yem-icons.svg') format('svg');
    src: url('../fonts/font-yem/yem-icons-novo.eot');
    src: url('../fonts/font-yem/yem-icons-novo.eot#iefix') format('embedded-opentype'),
         url('../fonts/font-yem/yem-icons-novo.woff') format('woff'),
         url('../fonts/font-yem/yem-icons-novo.ttf') format('truetype'),
         url('../fonts/font-yem/yem-icons-novo.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.iconYem {
    font-family: "yem-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: none;
    &:before {
        display: block;
    }
    &.iconXXl {
        font-size: 2.111rem;
    }
    &.iconXl {
        font-size: 1.763333rem;
    }
    &.iconLg {
        font-size: 1.466111rem;
    }
    &.iconMd {
        font-size: 1rem;
    }
    &.iconSm {
        font-size: 0.7777rem;
    }
    &.gradCap {
        &:before {
            content: "c"
        }
    }
    &.diamond {
        &:before {
            content: "q"
        }
    }
    &.play {
        &:before {
            content: "$"
        }
    }
    &.thumbsUp {
        &:before {
            content: "m"
        }
    }
    &.comment {
        &:before {
            content: "b"
        }
    }
    &.globe {
        &:before {
            content: "0"
        }
    }
    &.heart {
        &:before {
            content: "w"
        }
    }
    &.iconWink {
        &:before {
            content: "{"
        }
    }
    &.iconSad {
        &:before {
            content: "}"
        }
    }
    &.iconHappy {
        &:before {
            content: "]"
        }
    }
    &.calendar {
        &:before {
            content: "u"
        }
    }
    &.lock {
        &:before {
            content: "y"
        }
    }
    &.clockSimple {
        &:before {
            content: ">"
        }
    }
    &.userIcon {
        &:before {
            content: "=";
        }
    }
    &.usersIcon {
        &:before {
            content: "-";
        }
    }
    &.twitter {
        &:before {
            content: "*";
        }
    }
    &.facebook {
        &:before {
            content: "&";
        }
    }
    &.instagram {
        &:before {
            content: ")";
        }
    }
    &.mail {
        &:before {
            content: "x";
        }
    }
    &.videoCam {
        &::before {
            content: "n";
        }
    }
    &.desktop {
        &::before {
            content: "k";
        }
    }
    &.params {
        &::before {
            content: "v";
        }
    }
    &.search {
        &::before {
            content: "s";
        }
    }
    &.inbox {
        &::before {
            content: "d";
        }
    }
    &.paperPlane {
        &::before {
            content: "a";
        }
    }
    &.star {
        &::before {
            content: "o";
        }
    }
    &.arrowDown {
        &:before {
            content: '6';
        }
    }
    &.arrowUp {
        &:before {
            content: '7';
        }
    }
    &.arrowLeft {
        &:before {
            content: '4';
        }
    }
    &.arrowRight {
        &:before {
            content: '5';
        }
    }
    &.check {
        &:before {
            content: '2';
        }
    }
    &.cancel {
        &:before {
            content: '3';
        }
    }
}
.socialBlockList {
    display: flex;
    margin-top: 0.5555rem;
    .iconYem {
        font-size: 0.77055rem;
        color: $light-grey;
        letter-spacing: 1.4ch;
    }
}
.menuLogo {
    width: 101px;
    height: 42px;
    background-image: url(../images/logo_yem_full.png)
}
.titleSizeXl {
    font-size: 2.7777rem;
}
.titleSizeLg {
    font-size: 2.1111rem;
}
.titleSizeSm {
    font-size: 0.7777rem;
}
.textLight {
    font-weight: 300;
}
.textSemiBold {
    font-weight: 600;
}
.textBold {
    font-weight: 700;
}
.textBlack {
    font-weight: 900;
}
.textUpper {
    text-transform: uppercase;
}
.alignCenter {
    text-align: center;
}
.alignLeft {
    text-align: left;
}
.alignRight {
    text-align: right;
}
.marginAutoX {
    margin-left: auto;
    margin-right: auto
}
.positionRelative {
    position: relative;
}
.displayNone {
    display: none;
}
.displayFlex {
    display: flex;
}
.flexAlignCenter {
    align-items: center;
}
.flexWrap {
    flex-wrap: wrap;
}
.flexFullCenter {
    justify-content: center;
    align-content: center;
}
.flexFullCenter2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexFullCenterSelf {
    justify-self: center;
    align-self: center;
}
.flexEnd {
    justify-content: flex-end;
}
.flexEndColumn {
    align-content: flex-end;
}
.flexColumn {
    flex-direction: column
}
.roundBorderDefault {
    border-radius: 0.555555rem;
}
.roundBorderSmall {
    border-radius: 0.27777rem;
}
.roundBorderFull {
    border-radius: 100%;
}
.menuActive {
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    z-index: 60;
    .menuBar {
        transition: all 0.3s;
        position: absolute;
        &:nth-child(1) {
            transform: rotate(45deg);
        }
        &:nth-child(2) {
            display: none;
        }
        &:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
    & + .menuItensBlock {
        position: fixed;
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 50;
        transition: all 0.3s;
        &:before {
            content: '';
            position: absolute;
            display: block;
            background-color: rgba(0,0,0,0.95);
            width: 100%;
            height: 100%;
            top: 0;
        }
        .menuItensBlockLists {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            padding-top: 5rem;
            .menuItensBlockListItem {
                font-size: 3rem;
                color: $light-grey;
                text-decoration: none;
                transition: all 0.3s;
                @media(max-width: 500px) {
                    font-size: 2.2rem;
                    margin-bottom: 2rem;
                    line-height: normal;
                    text-align: center;
                }
                &:hover {
                    color: $purple;
                    transition: all 0.3s;
                }
            }
        }
    }
}
.menuItensBlock {
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    .menuItensBlockLists {
        display: none;
    }
}
.messageTab {
    display: flex;
    position: relative;
    padding: 1.66666rem 2.444444rem;
    @media(max-width: 500px) {
        flex-direction: column;
        align-items: center;
    }
    .messageIcon {
        width: 2.44444rem;
        align-items: center;
        font-size: 1.2222rem;
        margin-right: 2.944444rem;
        @media(max-width: 500px) {
            margin: auto;
            justify-content: center;
        }
    }
    .messageContent {
        font-size: 0.77777rem;
        line-height: 1rem;
        width: calc(100% - 2.44444rem);
        @media(max-width: 500px) {
            width: 100%;
        }
    }
    .messageClose {
        position: absolute;
        font-size: 0.72222rem;
        right: 0.77777rem;
        top: 0.61111rem;
        @media(max-width: 500px) {
            font-size: 1rem;
        }
        &:hover {
            color: $dark-grey;
            cursor: pointer;
        }
    }
}