$dark-grey:#252525;
$medium-grey: #9e9e9e;
$light-grey: #f5f5f5;
$light-grey2 : #eeeded;
$light-grey-opacity: rgba(245, 245, 245, 0.2);
$light-grey-opacity2: rgba(37,37,37,0.43);
$light-grey-opacity3: rgba(245, 245, 245, 0.5);
$purple: #8d36a6;
$dark-purple: #3e2c43;
$white: #fff;
$red: #dc3545;

// PLACEHOLDER
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}
  
@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}