@import "../../styles/variables.scss";
.socialListBlock {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3.94444rem;
    height: 200px;
    top: calc(50% - 100px);
    z-index: 10;
    @media(max-width: 800px) {
        padding-left: 1.97222rem;
    }
    @media(max-width: 680px) {
       display: none;
    }
    .socialListItem {
        display: flex;
        justify-content: center;
        transition: all 0.3s;
        @media(max-width: 680px) {
            margin-bottom: 0;
            &:not(:last-of-type) {
                margin-right: 1.16666rem;
                margin-bottom: 0;
            }
        }
        &:not(:last-of-type) {
            margin-bottom: 1.16666rem;
        }
        &:hover {
            cursor: pointer;
            color: $purple;
            transition: all 0.3s;
        }
    }
}