.courseItem {
    .courseItemContent {
        &:before {
            background-image: url(../../../images/courses-bg-cover-gradient.png) !important;
        }
    }
}
.courseInfoBlock {
    margin-bottom: 1.111rem;
    .infoImgBlock {
        .courseImageCircle {
            width: 81px;
            height: 81px;
            border-radius: 100%;
            background-size: cover;
        }
    }
    .infoTextBlock {
        margin-left: 1.1111rem;
    }
}
.descriptionText {
    max-width: 30ch;
}
.discountItemBlock {
    margin-top: 0.5rem;
}