.advantageList {
    @media(max-width: 680px) {
        flex-direction: column;
    }
    .advantageItem {
        @media(max-width: 680px) {
            &:not(:last-of-type) {
                margin-bottom: 1rem;
            }
        }
        .itemBgBlock {
            height: 7.777rem;
            background-size: cover;
            background-position: center;
        }
        .itemTextBlock {
            text-align: center;
            padding: 1.3888rem;
            margin-top: -0.5rem;
            min-height: calc(100% - 7.777rem);
            .advantageTitle {
                font-size: 1.4444rem;
                margin-bottom: 1.1111rem;
            }
        }
    }
}