.imageTextIntro {
    position: relative;
    background-size: cover;
    background-position-y: -9rem;
    background-repeat: no-repeat;
    padding-top: 110px;
    @media(max-width: 800px) {
        background-position-y: unset;
    }
    &:before {
        content: "";
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        background-image: url(../../images/bg-filter.png);
        background-size: cover;
    }
}
.imageTextContainer {
    position: relative;
    // height: 440px;
    padding-bottom: 9.44444rem;
    @media(max-width: 680px) {
        padding-bottom: 4.2222rem;
    }
    .imageTextInfoBlock {
        // margin-left: 9.77777rem;
        width: 24.3333rem;
        position: relative;
        @media(max-width: 800px) {
            margin-left: 5.7777rem;
            max-width: 90%;
        }
        @media(max-width: 500px) {
            margin: auto;
        }
        .textInfoTitle {
            padding-top: 4.333rem;
            margin-bottom: 0.77777rem;
            @media(max-width: 680px) {
                font-size: 2rem;
            }
        }
        .textInfoText {
            margin-bottom: 1.166666rem;
        }
        .textInfoBtn {
            padding: 0 0.888rem;
        }
    }
}