@import "../../styles/variables.scss";
.introVideoBlock {
    position: relative;
    background-size: cover;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../../images/bgSimpleGradient.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .introIcon {
        font-size: 4.16666rem;
        width: 4rem;
        margin: auto;
        transition: all 0.3s;
        &:hover {
            cursor: pointer;
            color: $purple;
            transition: all 0.3s;
        }
    }
    .introTextBlock {
        padding-top: 10rem;
    }
}
.modalVideo {
    background-color: $dark-grey;
    padding: 2rem;
    @media(max-width: 800px) {
        max-width: 100%;
    }
    @media(max-width: 680px) {
        max-width: 100%;
        background-color: transparent;
        iframe {
            max-width: 100%;
        }
    }
    .closeButton {
        top: 0;
        right: 0;
        position: absolute;
        background-color: $light-grey;
        border-radius: 100%;
        transition: all 0.3s;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: all 0.3s;
            background-color: $dark-grey;
        }
        &:focus {
            outline: none;
        }
        .closeButtonSvg {    
            &:hover {
                path {
                    fill: $purple;
                }
            }
        }
    }
}