.imageUpBlock {
    position: relative;
    padding-top: 4.2777rem;
    padding-bottom: 4.7777rem;
    .imageUpBlockContainer {
        display: flex;
        width: 100%;
        @media(max-width: 680px) {
            flex-direction: column-reverse;
        }
        .imageUpBlockItem {
            @media(max-width: 800px) {
                display: none;
            }
            .imageUpItem {
                width: 100%;
                height: 640px;
                margin-top: calc(-3.3333rem - 4.2777rem);
                background-repeat: no-repeat;
            }
        }
        .imageUpTextBlock {
            padding-left: 3rem;
            @media(max-width: 800px) {
                max-width: 100%;
                padding-left: 1.7777rem;
            }
            @media(max-width: 500px) {
                padding-left: 0;
            }
            .imageUpTitle {
                width: 16ch;
                margin-bottom: 0.555rem;
            }
            .imageUpText {
                width: 28ch;
            }
            .benefitsBlockList {
                margin-top: 3.3333rem;
                margin-bottom: 2.777rem;
                .benefitsBlockListItem {
                    display: flex;
                    align-items: center;
                    &:not(:last-of-type) {
                        margin-bottom: 1.111rem;
                    }
                    .benefitsItem {
                        font-size: 1.7633rem;
                        margin-right: 0.8333rem;
                    }
                }
            }
        }
    }
}