@import "../../../styles/variables.scss";
.leftCarouselBlock {
    .topBlock {
        margin-bottom: 3.72222rem;
    }
}
.arrow {
    position: absolute;
    top: 4.2222rem;
    transition: all 0.3s;
    z-index: 5;
    &:hover {
        cursor: pointer;
        color: $purple;
        transition: all 0.3s;
    }
    &.arrowLeft {
        left: 0;
    }
    &.arrowRight {
        right: 0;
    }
}