.doubleCarrousel {
    .slick-list {
        overflow: hidden;
        .slick-track {
            display: flex;
        }
    }
}
.rightCarouselBlock {
    .slick-arrow {
        position: absolute !important;
        top: 0 !important;
        &.slick-next {
            right: 0;
        }
    }
}