.customTwoBlocks {
    justify-content: center;
}

.customTwoBlock {
    margin: 0 6px;
}

.customTwoPratique {
    @media (max-width: 767.98px) {
        text-align: center;
    }
}

.customTwoPratique p {
    @media (max-width: 767.98px) {
        width: 100%;
    }
}

.customTwoDiv1 {
    @media (max-width: 767.98px) {
        margin-bottom: 30px;
    }
}

.customTwoIcon {
    width: 70px;
    height: 70px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}