.searchButtonActive {
    @media(max-width: 680px) {
        & + #searchBarInput {
            width: 100% !important;
            opacity: 1 !important;
            transition: all 0.3s;
        }
    }
}