@import "../../styles/variables.scss";
.searchBarContent {
    width: 100%;
    margin-left: 6.6111111rem;
    margin-right: 4.6111111rem;
    @media(max-width: 680px) {
        margin-left: 0;
        margin-right: 1rem;
    }
    .searchBar {
        display: flex;
        align-items: center;
        @media(max-width: 680px) {
            flex-direction: row-reverse;
        }
        label {
            position: absolute;
            font-size: 0.88888rem;
            padding-left: 0.66666rem;
            color: $light-grey-opacity3;
            @media(max-width: 680px) {
                padding-left: 0;
                padding-right: 0.66666rem;
            }
            &:hover {
                cursor: pointer;
            }
        }
        input {
            width: 100%;
            background: rgba(43, 42, 42, 0.5);
            border: none;
            height: 38px;
            padding-left: 2.1666666rem;
            color: $light-grey-opacity3;        
            font-size: 0.7222222rem;
            line-height: 0.8888888rem;
            @media(max-width: 680px) {
                padding-left: 1rem;
                width: 0%;
                opacity: 0;
                transition: all 0.3s;
            }
            @include placeholder {
                color: $light-grey-opacity3;        
                opacity: 1; /* Firefox */
                transition: font-size 0.3s;
                font-size: 0.8rem;
            }
            &:focus {
                outline: none;
                border: 1px solid $purple;
                transition: all 0.3s;
                @include placeholder {
                    font-size: 0.7222222rem;
                    transition: font-size 0.3s;
                }
            }
        }
    }
}