@import '../../styles/variables.scss';
.threeBenefits {
    padding-top: 1.7222rem;
    // padding-bottom: 12.3333333rem;
    padding-bottom: 3.3333rem;
    @media(max-width: 800px) {
        padding-bottom: 8.3333333rem;
    }
    @media(max-width: 500px) {
        padding-bottom: 3.888rem;
    }
    .linkBtn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 100%;
        color: #fff;
        line-height: 0;
        top: calc(50% - 15px);
        left: -6.666rem;
        transition: all 0.3s;
        &:hover {
            background-color: #f5f5f5;
            color: #8d36a6;
            transition: all 0.3s;
        }
    }
    .threeBenefitsBlock {
        display: flex;
        @media(max-width: 655px) {
            flex-wrap: wrap;
        }
        .BenefitsBlockItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media(min-width: 681px) {
                &:nth-child(2) {
                    border-left: 1px solid $light-grey;
                    border-right: 1px solid $light-grey;
                }
            }
            @media(max-width: 655px) {
                max-width: 100%;
                &:not(:last-of-type) {
                    margin-bottom: 2rem;
                }
            }
            .benefitIcon {
                font-size: 2.21888rem;
            }
            .benefitItemImg {
                width: 4.5rem;
                height: 4.5rem;
                background-size: contain;
                border-radius: 100%;
                margin-bottom: 0.4444rem;
            }
            .BenefitsBlockTitle {
                width: 11ch;
                text-align: center;
                margin-bottom: 0.3333rem;
            }
            .BenefitsBlockText {
                text-align: center;
                // width: 27ch;
                font-size: 0.9444rem;
            }
        }
    }
}