.textCircleBlock {
    padding: 7.222rem 0;
}
.benefitTitle {
    margin-bottom: 2.3333rem;
}
.benefitBlockList {
    .benefitBlockItem {
        display: flex;
        align-items: center;
        &:not(:last-of-type) {
            margin-bottom: 0.77777rem;
        }
        .benefitItemTextBlock {
            margin-left: 1.5rem;
            max-width: 35ch;
        }
    }
}
.benefitPrice {
    margin-left: 3.1111rem;
    margin-top: 1rem;
    .benefitPriceText {
        margin-bottom: 0.5rem;
        max-width: 30ch;
    }
}
.benefitImageBlock {
    height: 100%;
    display: flex;
    align-items: center;
    @media(max-width: 680px) {
        padding-top: 2.5rem;
    }
    .benefitImageItem {
        border-radius: 100%;
        @media(max-width: 680px) {
            margin: auto;
        }
    }
}