@import "../styles/variables.scss";
.footer {
    padding: 5.27777rem 0;
    background-color: $dark-grey;
    .footerMainContent {
        display: flex;
        flex-wrap: wrap;
        color: $light-grey;
        .footerMainContentMenu {
            width: 50%;
            display: flex;
            flex-direction: column;
            @media(max-width: 800px) and (min-width: 501px) {
                width: 40%;
            }
            @media(max-width: 500px) {
                width: 100%;
            }
            .footerMainTitle {
                font-size: 1rem;
                margin-bottom: 1rem;
            }
            a {
                color: $light-grey;
                text-decoration: none;
                font-size: 0.7777rem;
                margin-bottom: 0.2777rem;
            }
            .footerSocialIcon {
                font-size: 0.7777rem;
                margin-right: 1rem;
            }
        }
        .footerNews {
            display: flex;
            justify-content: flex-end;
            width: 50%;
            @media(max-width: 800px) and (min-width: 501px) {
                width: 60%;
            }
            @media(max-width: 500px) {
                width: 100%;
                flex-direction: column-reverse;
                margin: 1.5rem 0;
            }
            .footerNewsImageBlock {
                width: 3.555rem;
                height: 3.555rem;
                border-radius: 100%;
                margin-right: 0.94444rem;
                @media(max-width: 680px) {
                    margin-top: 0.72222rem; 
                    display: none;
                }
                .whatsIcon {
                    background-image: url(../images/icon-whatsapp.png);
                    width: 41px;
                    height: 41px;
                    align-self: center;
                }
            }
            .footerNewsContentBlock {
                width: 14ch;
                display: flex;
                flex-direction: column;
                @media(max-width: 680px) {
                    width: 100%;
                }
                .footerNewsBoldText {
                    margin-bottom: 0.3rem !important;
                    width: 15ch;
                }
                .footerNewsSmallText {
                    font-size: 0.777777rem;
                    
                    @media(max-width: 800px) {
                        max-width: 100%;
                    }
                }
                .subscribeInputBlock {
                    display: flex;
                    margin-top: 0.72222rem;
                    .subscribeInput {
                        width: calc(100% - 6.3888889rem );
                        padding: 0rem 0.9444rem;
                        height: 2.33333rem;
                        border: none;
                        color: $light-grey;
                        background-color: $light-grey-opacity;
                        @media(max-width: 680px) {
                            width: 100%;
                        }
                        &:focus {
                            outline: none;
                        }
                        &::-webkit-input-placeholder { /* Edge */
                            color: $light-grey;
                        }
                          
                        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                            color: $light-grey;
                        }
                          
                        &::placeholder {
                            color: $light-grey;
                        }
                    }
                    button {
                        width: 6.3888889rem;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        height: 2.3333rem;
                        margin-left: -1rem;
                        &:focus {
                            outline: none;
                        }
                    } 
                } 
            }
        }
    }
    .copyrightBlock {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        @media(max-width: 680px) and (min-width: 501px) {
            margin: 1rem auto;
        }
        @media(max-width: 680px) {
            flex-direction: column;
            align-items: center;
        }
        .copyrightBlockText {
            margin-right: 2.6111rem;
            @media(max-width: 680px) {
                margin: auto;
            }
            p {
                display: flex;
                justify-content: flex-end;
                font-size: 0.5555rem;
                color: $light-grey;
                @media(max-width: 680px) {
                    justify-content: center;
                    text-align: center;
                }
                .lock {
                    margin-right: 0.3888rem;
                }
            }
        }
        .copyrightBlockLogo {
            @media(max-width: 650px) {
                margin-top: 1rem;
            }
        }
    }
}