@import "../styles/variables.scss";
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    padding: 0 2.0555rem;
    @media(max-width: 680px) {
        padding: 0 0.77777rem;
    } 
    .menuLogo {
        width: 101px;
        height: 42px;
        background-image: url(../images/logo_yem_full.png);
        @media(max-width: 680px) {
            width: 57px;
            height: 22px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        } 
    }
    .optionsList {
        display: flex;
        width: calc(100% - 100px);
        @media(max-width: 680px) {
            width: calc(100% - 77px);
        }
    }
    .menuBtnBlock {
        display: flex;
        align-items: center;
        .menuLinksBlock {
            display: flex;
            z-index: 60;
            // @media(max-width: 670px) {
            //     display: none;
            // } 
            .menuLinksItem {
                position: relative;
                display: flex;
                align-items: center;
                z-index: 20;
                padding: 0 0.5rem;
                height: 1.277777rem;
                color: $white;
                font-size: 0.61666rem;
                text-transform: uppercase;
                text-decoration: none;
                margin: 0 0.44444rem;
                &:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    height: 100%;
                    background-color: $dark-purple;
                    border-radius: 5px;
                    transition: all .3s;
                }
                &.menuLinksItemHalfActive {
                    &:hover {
                        &:before {
                            width: 100%;
                            transition: all .3s;
                        }
                    }
                    &:before {
                        width: 45%;
                    }
                }
                &.menuLinksItemActive {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
        .menuButton {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            &:hover {
                cursor: pointer;
            }
            .menuButtonBar {
                width: 25px;
                height: 2px;
                background-color: $light-grey;
                &:nth-child(2n) {
                    margin: 5px 0;
                }
            }
        }
    }
}