@import "../../styles/variables.scss";
.checkoutContainer {
    padding: 8.5555rem 0;
}
.button {
    margin-top: 2.66666rem;
}
.tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -2rem;
    width: 1.6666rem;
    height: 1.6666rem;
    background-color: $light-grey2;
    border-radius: 100%;
    &:hover {
        cursor: pointer;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}
.containerPt2 {
    padding-top: 4.0625rem;
    padding-bottom: 5.625rem;
}
.buttonPt2 {
    margin-top: 1.9375rem;
}
.cardList {
    display: flex;
    margin: 1.94444rem auto;
    .cardItem {
        width: 4rem;
        height: 2.375rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center left;
        margin-left: 0.35555rem;
        &:not(:last-of-type) {
            margin-right: 0.35555rem;
        }
        &.cardMaster {
            background-image: url(../../images/cards/mastercard.png);
            &.cardActive {
                background-image: url(../../images/cards/mastercard-active.png);
            }
        }
        &.cardVisa {
            background-image: url(../../images/cards/visa.png);
            &.cardActive {
                background-image: url(../../images/cards/visa-active.png);
            }
        }
        &.cardElo {
            background-image: url(../../images/cards/elo.png);
            &.cardActive {
                background-image: url(../../images/cards/elo-active.png);
            }
        }
        &.cardDiners {
            background-image: url(../../images/cards/diners.png);
            &.cardActive {
                background-image: url(../../images/cards/diners-active.png);
            }
        }
        &.cardAmerican {
            background-image: url(../../images/cards/american.png);
            &.cardActive {
                background-image: url(../../images/cards/american-active.png);
            }
        }
    }
}
.sadIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8888rem;
    height: 4.8888rem;
    font-size: 2.611111rem;
    background-color: $light-grey2;
    border-radius: 50%;
}
.checkoutBlock {
    margin-bottom: 1.5555rem;
}