.cursosIniciantes div:nth-of-type(2){
    display: none !important;
}

.cursosIniciantes div:nth-child(2){
    justify-content: center;
    margin-top: 55px;
}

.cursosIniciantes div:nth-of-type(3){
    @media (min-width: 768px) {
        border-left: 1px solid #fff;
    }
}

.cursosIniciantes div:nth-of-type(3) p {
    text-align: center;
    padding: 8px 50px 0;
}

.blockUl {
    padding: 0px 30px;

    @media (max-width: 767.98px) {
        padding: 25px 30px 0;
    }
}

.list li {
    margin-bottom: 15px;
}

.list li:last-child {
    margin-bottom: 0;
}

.titleIntroVideo {
    max-width: 25ch;
    margin: 0 auto 15px;
}

@media (min-width: 768px) {
.testimonial > div > div > div > div:nth-of-type(1) div div p {
        text-align: left !important;
    }
}