.aboutBlock {
    padding: 8.4444rem 0 7.8888rem;
    .aboutText {
        max-width: 64ch;
        margin: 2.2222rem auto 0;
    }
}
.userBlock {
    padding-top: 7.7777rem;
    .userBlockItem {
        padding-bottom: 10.2777rem;

        @media (max-width: 767.98px) {
            padding-bottom: 4rem;
        }
    }
    .userImg {
        width: 100%;
        padding: 50%;
        background-position: center;
        background-size: cover;
    }
    .userTitle {
        margin-bottom: 1.0555rem
    }
    .userText {
        max-width: 40ch;
    }
}
.title {
    font-size: 2.1111rem;
}