.escolaTitle {
    max-width: 15ch;
    margin: auto;
}
.threeBenefitsBlock {
    padding-top: 5rem;
    padding-bottom: 5.83333rem;
}
.practiceBlock {
    padding: 3.16666rem 0 2.4444rem;
    @media(max-width: 680px) {
        flex-direction: column;
    }
}
.testimonialBlock {
    padding-bottom: 5rem;

    @media (max-width: 767.98px) {
        padding-bottom: 0;
    }
}
.courseListBlock {
    padding-bottom: 3.3333rem;
}