@import "../../styles/variables.scss";
.introTextBlock {
    .introTitle {
        max-width: 15ch;
        margin: auto;
    }
    .introText {
        max-width: 47ch;
        margin: auto;
    }
}
.techniquesTopBlock {
    padding-top: 6rem;
    margin-bottom: 4.3333rem;
    .techniquesTopTitle {
        max-width: 22ch;
        margin: auto;
        padding-bottom: 2.2222rem;
    }
    .techniquesTopText {
        max-width: 64ch;
        margin: auto;
    }
}
.techniquesInfoBlock {
    .liveClasses {
        .liveClassesImgBlock {
            position: relative;
            width: 100%;
            height: 22.6666rem;
            @media(max-width: 800px) {
                height: 11.3333rem;
            }
            .liveClassesImgItem {
                position: absolute;
                width: 33.333rem;
                height: 22.6666rem;
                margin-top: -1.94444rem;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                @media(max-width: 800px) {
                    position: relative;
                    max-width: 100%;
                    height: 100%;
                    margin-top: 0;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
        .techniquesItemText {
            @media(max-width: 680px) {
                margin-bottom: 3rem;
            }
        }
        .liveClassesText {
            max-width: 28ch;
            width: 100%;
        }
    }
    .liveLectures {
        padding-top: 3.3333rem;
        @media(max-width: 680px) {
            flex-direction: column !important;
        }
        .liveLecturesTextContent {
            max-width: 36ch;
            width: 100%;
            float: right;
            align-items: flex-end;
            @media(max-width: 800px) {
                float: unset;
                max-width: 90%;
                margin: auto;
            }
        }
        .liveLecturesImgBlock {
            height: 27.7777rem;
            @media(max-width: 800px) {
                width: 50%;
                height: 18.8885rem;
            }
            @media(max-width: 550px) {
                width: 100%;
                height: 13.8885rem;
            }
            .liveLecturesImgItem {
                position: absolute;
                width: 36.1111rem;
                height: 27.7777rem;
                background-size: contain;
                background-repeat: no-repeat;
                right: 0;
                margin-top: -120px;
                @media(max-width:800px) {
                    position: relative;
                    width: 100%;
                    margin-top: 0;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: right;
                }
                @media(max-width:680px) {
                    background-position: center;
                }
            }
        }
    }
    .closeTrack {
        .closeTrackImgBlock {
            width: 43.5555rem;
            height: 30.5555rem;
            margin-top: -3.3333rem;
            @media(max-width: 800px) {
                width: 100%;
                height: inherit;
                margin-top: 0;
            }
            @media(max-width: 680px) {
                height: 15rem;
            }
            .closeTrackImgItem {
                position: absolute;
                width: 43.5555rem;
                height: 30.5555rem;
                // background-size: contain;
                // background-repeat: no-repeat;
                // background-position: bottom;
                background-size: 100%;
                background-repeat: no-repeat;
                background-position-y: 5rem;
                @media(max-width: 800px) {
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .techniquesItemText {
            @media(max-width: 800px) {
                padding-bottom: 3.333rem;
            }
            @media(max-width: 500px) {
                padding-bottom: 0;
            }
            .closeTrackTextContent {
                align-items: flex-start;
                max-width: 40ch;
                width: 100%;
                @media(max-width: 800px) {
                    max-width: 90%;
                    margin: auto;
                }
            }
        }
    }
    .techniquesItem {
        @media(max-width: 800px) {
            padding-top: 3.3333rem;
        }
        @media(max-width: 680px) {
            flex-wrap: wrap;
        }
        @media(max-width: 500px) {
            flex-direction: column-reverse;
        }
        .techniquesItemText {
            .itemTitle {
                margin-bottom: 0.6666rem;
            }
            .itemText {
                margin-bottom: 1.4444rem;
            }
        }
    }
}
.iYC {
    position: relative;
    background-image: url(../../images/IYC-logo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    @media(max-width: 500px) {
        background-position: top;
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($color: #000000, $alpha: 0.6);
    }
}
.certifiedContainer {
    padding-top: 5.222rem;
    padding-bottom: 6.5555rem;
}
.certifiedBlock {
    .certifiedText {
        max-width: 60ch;
        width: 100%;
        margin: auto;
        padding-top: 1.8333rem;
        padding-bottom: 2.3888rem;
    }
}
.certifiedListBlock {
    @media(max-width: 800px) {
        flex-wrap: wrap;
    }
    .certifiedListItem {
        @media(max-width: 680px) {
            margin: 1rem 0;
        }
        .certifiedItemLogo {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 3.22222rem;
            height: 2.44444rem;
        }
        .certifiedItemImgBlock {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 4.2222rem;
            height: 4.2222rem;
            margin: auto;
        }
        .listItemText {
            max-width: 28ch;
            margin: auto;
        }
    }
}
.supportMaterial {
    @media(max-width: 800px) {
        padding-bottom: 3.888rem;
    }
    .supportMaterialTextBlock {
        &:not(:last-of-type) {
            margin-bottom: 3.7222rem;
        }
    }
}
.testimonialBlockContainer {
    @media(max-width: 800px) {
        flex-wrap: wrap;
    }
}
.testimonialBlock {
    display: flex;
    align-items: center;
    @media(max-width: 800px) {
        max-width: 100%;
    }
    .testimonialInfoBlock {
        @media(max-width: 800px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 3.888rem;
        }
        .calendarInfoBlock {
            display: flex;
            align-items: center;
            padding-top: 2.7777rem;
            padding-bottom: 0.7777rem;
            .iconTextBlock {
                margin-left: 0.72222rem;
            }
        }
    }
    .limitedButtonBlock {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 9rem;
        .limitedBlackText {
            padding-top: 0.72222rem;
        }
    }
}
.testimonialList {
    @media(max-width: 800px) {
        max-width: 100%;
    }
}
.whatsBlock {
    max-width: 18ch;
    margin: auto;
    padding: 3.8888rem 0 1.8888rem;
    .whatsIcon {
        margin-bottom: 0.5555rem;
    }
    .whatsLink {
        text-decoration: none;
        transition: all 0.3s;
        &:hover {
            color: $purple;
            transition: all 0.3s;
        }
    }
}