.privacyTopContainer {
    padding-bottom: 4.1666rem;
}

.privacySocial {
    top: unset;
    bottom: 2.5rem;
}

.privacyContainer {
    padding: 3.61111rem 0 5.83333rem;
}

.privacyText {
    margin-bottom: 1.5rem;
}