@import "../../styles/variables.scss";
.rollDownButton {
    position: absolute;
    bottom: 0;
    padding-left: 3.94444rem;
    .rollDownLink {
        text-decoration: none;
        .rollDownIcon {
            width: 30px;
            height: 30px;
            border: 1px solid $light-grey;
            border-radius: 100%;
            transition: all 0.3s;
            &:hover {
                color: $purple;
                transition: all 0.3s;
            }
            &:before {
                align-self: center;
            }
        }
    }
}