@import "../../styles/variables.scss";
.socialListBlock {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3.94444rem;
    height: 200px;
    top: calc(50% - 100px);
    z-index: 10;
    @media(max-width: 800px) {
        position: relative;
        flex-direction: row;
        justify-content: flex-start;
        height: auto;
        padding-left: 1.97222rem;
    }
    @media(max-width: 680px) {
       display: none;
    }
    .socialListItem {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        font-size: 0.703705rem;
        width: 1.40722222rem;
        height: 1.40722222rem;
        border: 1px solid $light-grey;
        border-radius: 50%;
        margin-bottom: 0.403888rem;
        @media(max-width: 800px) {
            margin-bottom: 0;
            margin-right: 0.5rem;
        }
        @media(max-width: 680px) {
            margin-bottom: 0;
            &:not(:last-of-type) {
                margin-right: 1.16666rem;
                margin-bottom: 0;
            }
        }
        &:first-child {
            padding-right: 2px;
        }
        &:hover {
            cursor: pointer;
            color: $purple;
            transition: all 0.3s;
            border-color: $purple;
        }
    }
}