@import "../../styles/variables.scss";
.testimonialBlock {
    display: flex;
    height: 340px;
    @media(max-width: 800px) {
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 3.888rem 0;
    }
    .testimonialSmBlock {
        
    }
    .testimonialSmBlock, .testimonialLgBlock {
        @media(max-width: 800px) {
            max-width: 100%;
            margin: auto;
        }
    }
}
.infoBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    @media(max-width: 800px) {
        padding-bottom: 3.888rem;
        align-items: center;
    }
    .infoTitle {
        margin-bottom: 2.777rem;
        @media(max-width: 800px) {
            margin-bottom: 1rem;
        }
        @media(max-width: 500px) {
            text-align: center;
        }
    }
    .startTodayBlock {
        width: 190px;
        .infoText {
            margin-bottom: 0.5555rem;
            text-align: center;
        }
        .infoBtn {
            width: 190px;
            margin-bottom: 0.5555rem;
        }
        .infoSmallText {
            font-size: 0.777rem;
            text-align: center;
        }
    }
}
.testimonialBlockList {
    width: 100%;
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    @media(max-width: 800px) {
        position: relative;
        margin-top: 0;
    }

    .testimonialItem {
        @media(min-width: 501px) {
            &:not(:last-of-type) {
                margin-right: 0.60rem
            }
        }
    }
    .testimonialSmallBlockItem {
        flex-direction: column;
        width: calc(50% - 0.3055rem);
        @media(max-width: 500px) {
            width: 100%;
        }
        @media(min-width:501px) {
            .testimonialBlockItem {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
    .testimonialLargeBlockItem {
        width: calc(50% - 0.3055rem);
        @media(max-width: 500px) {
            width: 100%;
        }
        .testimonialBlockItem {
            height: 100%;
            flex-direction: column;
            .testimonialItemImg {
                margin-bottom: 1.4444rem;
            }
            .testimonialItemTextBlock {
                width: 14ch;
                margin-left: 0;
            }
        }
    }

    .testimonialBlockItem {
        display: flex;
        align-items: center;
        // width: calc(50% - 0.3055rem);
        width: 100%;
        height: 175px;
        padding: 1.9444rem 1.6666rem;
        border-radius: 10px;
        background-color: #f5f5f5;

        -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25);
        box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25);
        @media(min-width: 1025px) {
            &:nth-child(odd) {
                margin-right: 0.60rem;
            }
            &:nth-child(-n+2) {
                margin-bottom: 0.60rem;
            }
        }
        @media(max-width: 800px) {
            width: 100%;
            margin-bottom: 1rem;
        }
        .testimonialItemImg {
            width: 77px;
            height: 77px;
            border-radius: 50%;
            background-color: #252525;
        } 
        .testimonialItemTextBlock {
            width: calc(100% - (77px + 24px));
            margin-left: 24px;
            .testimonialItemPhrase {
                font-size: 0.777rem;
                line-height: 1.222rem;
                &:before {
                    content: '"';
                }
                &:after {
                    content: '"';
                }
            }
            .testimonialItemAuthor {
                font-size: 0.777rem;
                line-height: 1.222rem;
                font-weight: 700;
            }
        }
    }
}
.testimonialSeeMoreBlock {
    .seeMoreBtnBlock {
        
    }
    .seeMoreBtn {
        display: flex;
        align-items: center;
        position: relative;
        margin: auto;
        background-color: transparent;
        border: none;
        color: $light-grey;
        transition: all 0.3s;
        @media(max-width: 500px) {
            margin: 0 calc(50% - 6rem);
        }
        &:focus {
            outline: none;
        }
        &:hover {
            color: $purple;
            transition: all 0.3s;
            cursor: pointer;
        }
        p {
            position: absolute;
            right: -19ch;
            width: 20ch;
        }
    }
}