.banner {
    .bannerTopTitle {
        font-weight: 600;
        font-size: 1.444444rem;
        line-height: 1.833333rem;
        padding: 1rem 0;
    }
    .bannerContent {
        padding: 1.88888rem 0;
        display: flex;
        justify-content: flex-end;
        background-size: cover;
        @media(max-width: 680px) {
            padding: 1.8888rem;
        }
        .contentBlock {
            max-width: 32.69%;
            margin-right: 7.88888rem;
            @media(max-width: 680px) {
                max-width: 100%;
                margin-right: auto;
            }
            .contentTitle {
                font-size: 2.166666rem;
                line-height: 2.72222rem;
                max-width: 15ch;
            }
            .contentInfoBlock {
                display: flex;
                align-items: center;
                margin: 1.2222rem 0 1rem;
                .infoIcon {
                    font-size: 1.38888rem;
                    margin-right: 0.61111rem;
                }
                .contentInfoTextBlock {
                    .contentInfoTopText {
                        font-size: 0.77777rem;
                        line-height: 1rem;
                        font-weight: 900;
                    }
                    .infoTextGroup {
                        display: flex;
                        p {
                            &:not(:last-of-type) {
                                margin-right: 0.16666rem;
                            }
                        }
                        .blockInfoText {
                            font-weight: 300;
                            font-size: 0.611111rem;
                            line-height: 0.777777rem;
                        }
                    }
                }
            }
        }
    }
}