@import "../../styles/variables.scss";
.courseListTitle {
    margin-bottom: 3.3333rem;
}
.courseList {
    .courseItem {
        background-size: cover;
        height: 15.5555rem;
        margin-bottom: 0.5rem;
        &:nth-child(even) {
            margin-right: 0.666rem;
        }
        a {
            display: block;
            height: 100%;
        }
        .courseItemContent {
            position: relative;
            padding: 1.6666rem;
            height: 100%;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgb(0,0,0);
                background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(245,245,245,0.75) 75%, rgba(245,245,245,1) 100%);
                background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(245,245,245,0.75) 75%, rgba(245,245,245,1) 100%);
                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(245,245,245,0.75) 75%, rgba(245,245,245,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#f5f5f5",GradientType=1);
            }
            .itemTextBlock {
                position: absolute;
                bottom: 1.6666rem;
                color: $dark-grey;
            }
        }
    }
}