@import "../../styles/variables.scss";
.practiceBlock {
    display: flex;
    align-items: center;
    &.darkBg {
        .practiceImgBlock {
            .practiceImgItem {
                background-image: url(../../images/responsive-white-icon.png);
            }
        }
        .practiceTextBlock {
            .practiceTextItem {
                color: $dark-grey;
            }
            .chromeBlock {
                color: $dark-grey;
                &:before {
                }
                .chromeIcon {
                    background-image: url(../../images/chrome-icon-black.png)
                }
            }
        }
    }
    .practiceImgBlock {
        .practiceImgItem {
            width: 88px;
            height: 65px;
            background-image: url(../../images/responsive-icon.png);
        }
    }
    .practiceTextBlock {
        margin-left: 1.555rem;
        padding-left: 0.455rem;
        .practiceTextItem {
            color: $light-grey;
            max-width: 29ch;
        }
        .chromeBlock {
            display: flex;
            align-items: self-end;
            margin-top: 1rem;
            color: $light-grey;
            &:before {
                content: "*";
                display: block;
                line-height: 2px;
            }
            .chromeIcon {
                width: 21px;
                height: 21px;
                margin-left: 0.1444rem;
                margin-right: 0.38888rem;
                background-image: url(../../images/chrome-icon.png)
            }
        }
    }
}