@import '../../styles/variables.scss';
.sliderTitle {
  font-size: 1.44444rem;
  line-height: 1.833333rem;
  @media(max-width: 680px) {
    font-size: 1.111111rem;
    line-height: 1.3888rem;
  }
}
.sliderItemContent {
  &:nth-child(1) {
    margin-left: 40px;
    @media(max-width: 680px) {
      margin-left: auto;
    }
  }
  &:focus {
    outline: none;
  }
}
.sliderItem {
  position: relative;
  height: 8.61111rem;
  &:focus {
    outline: none;
  }
  .itemInfoBlock {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 1.16666rem;
    height: 100%;
    .classInfoTop {
      position: absolute;
      top: 1rem;
      left: 0;
      width: 100%;  
      padding: 0 1.16666rem;
      .classText {
        width: 100%;
        font-size: 0.61111rem;
        line-height: 0.77777rem;
      }
      .classTime {
        .timeIcon {
          margin-right: 0.305555rem;
        }
      }
    }
    .classInfoBottom {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 1rem;
      left: 0;
      padding: 0 1.16666rem;
    }
    .itemInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80% !important;
      &:first-of-type {
        font-size: 0.7777rem;
        line-height: 1rem;
      }
      &:last-of-type {
        font-size: 0.6111111rem;
        line-height: 0.777777rem;
      }
    }
    .itemOptions {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      width: 20% !important;
      .itemOptionsList {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        bottom: 1rem;
        transition: all 0.3s;   
        
        height: auto;
        overflow: hidden !important;
        .itemOptionBlock {
          display: flex;
          align-items: center;
          flex-direction: column;
          opacity: 0;
          transform: translateY(-200%);
          transition: transform 0.3s , opacity 1s !important;
          .item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.111111rem !important;
            height: 1.111111rem;
            border: 1px solid $light-grey;
            border-radius: 50%;
            transition: all 0.3s;
            &:hover {
              border-color: $purple;
              cursor: pointer;
              transition: all 0.3s;
              .itemIcon {
                color: $purple;
                transition: all 0.3s;
              }
            }
            &:not(:last-of-type) {
              margin-bottom: 0.33333rem;
            }
            .itemIcon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              font-size: 0.55555rem;
              text-align: center;
              color: $light-grey;
              transition: all 0.3s;
            }
          }
        }    
      }
      .itemIcon {
        font-size: 0.777777rem;
      }
      .itemArrowIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.111111rem;
        height: 1.111111rem;
      }
    }
  }
  .itemCover {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}