#yemSlider {
    .slick-list {
        height: 250px;
        .slick-track {
            height: 100%;
        }
    }
    .slick-slide {
        display: flex;
        align-items: center;
        margin-right: 5px;
        height: 100%;
        transition: all 0.3s;
        z-index: 10;
        &:hover {
            transform: scale(1.5) translateX(25px);
            z-index: 20 !important;
            transition: all 0.3s;
            @media(min-width:1025px) {
                transform: scale(1.5) translateX(25px);
            }
            @media(max-width: 1024px) and (min-width:501px) {
                transform: scale(1.5) translateX(20px);
            }
            @media(max-width: 500px) {
                transform: scale(1.3) translateX(2.5px);
            }
            // & ~ .slick-slide {
            //     z-index: 10;
            // }
            .itemOptionsList {
                .itemOptionBlock {
                    opacity: 1 !important;
                    transform: translateY(0%) !important;
                    transition: transform 0.3s , opacity 1s !important;
                }
                .paperPlane {
                    padding-right: 2px;
                }
                .star {
                    margin-bottom: 2px;
                    margin-right: 1px;
                }
                .heart {
                    margin-right: 1px;
                    margin-top: 2px;
                }
            }
            & ~ .slick-slide:nth-child(n) {
                @media(min-width:1025px) {
                    transform: translateX(calc(25% + 60px));
                }
                @media(max-width: 1024px) and (min-width:501px) {
                    transform: translateX(calc(25% + 55px));
                }
            }
        }
        div {
            width: 100%;
        }
    }
}