@import "../../styles/variables.scss";
.topBlock {
    position: relative;
    height: 465px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:before {
        content: ' ';
        position: absolute;
        display: block;
        background-color: $dark-grey;
        opacity: 0.86;
        width: 100%;
        height: 100%;
    }
    .topBlockContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4.3333rem 0;
        .topBlockTitle {
            margin-bottom: 0.4444rem;
        }
    }
}
.infoBlock {
    @media(max-width: 680px) {
        background-color: $dark-grey;
        // padding-top: 4.6666rem;
    }
    .infoBlockList {
        margin-top: -6.94444rem;
        @media(max-width: 680px) {
            flex-direction: column;
        }
        .infoListItem {
            padding: 1.3333rem;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
            @media(max-width: 680px) {
                max-width: 100%;
                margin-top: 4.6666rem;
                margin-bottom: 2rem;
            }
            .infoItemIcon {
                position: absolute;
                width: 10.333rem;
                height: 10.333rem;
                top: -4.6666rem;
                left: calc(50% - 5.1665rem);
                .icon {
                    align-self: center;
                }
            }
            .infoItemContent {
                position: relative;
                display: flex;
                justify-content: end;
                padding-top: 2.5rem;
                height: 9rem;
                @media(max-width: 800px) {
                    height: inherit;
                }
                .itemContentTitle {
                    margin-bottom: 0.7777rem;
                }
                .itemContentText {
                    max-width: 23ch;
                    margin: 0 auto;
                }
            }
        }
    }
}